html
  head
    title= title
  body
    div(name='searcher')
      form(action='/search', method='POST')
        input(type='text', name='searchBar', placeholder='Word')
        input(type='submit' name='searchButton' value='Search')
    div(name='definition')
      h1(name='word')
        | Word Definition
      h3(name='definition')
        | Definition: example, example, example
